# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.polygon-racer.iml
# Datasource local storage ignored files
/../../../../../../:\Github\polygon-racer\.idea\.idea.polygon-racer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
